name: page_transition
description: Flutter Page Transition Package which is the transition second page
version: 1.0.8
author: Yasin ilhan<yasinilhan61@gmail.com>
homepage: https://github.com/kalismeras61/flutter_page_transition

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: